<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">محصولات</h2>
            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="ti ti-home"></i></a></li>
                    <li class="breadcrumb-item active">دسته بندی محصولات</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->
<div class="row">
    <div class="col-xl-12">
        <!-- Export -->
        <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center justify-content-between">

                <div>

                    <mat-form-field appearance="fill">
                        <mat-label>جستجو</mat-label>
                        <input type="text" matInput #filterInput />
                      </mat-form-field>
                </div>

                <div>
                    <a (click)="openCreateDialog()" class="btn btn-primary">افزودن</a>

                </div>

            </div>
            <div class="widget-body">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> عنوان </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="creationDate">
                        <th mat-header-cell *matHeaderCellDef> تاریخ </th>
                        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="productsCount">
                      <th mat-header-cell *matHeaderCellDef> محصولات </th>
                      <td mat-cell *matCellDef="let element"> {{element.productsCount}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="commands">
                      <th mat-header-cell *matHeaderCellDef> دستورات </th>
                      <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="primary" class="mr-2" (click)="openEditDialog(element.id)">ویرایش</button>
                            <button mat-raised-button color="warn" (click)="deleteProductCategory(element.id)">حذف</button>
                        </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            
                <mat-paginator [length]="dataSource.length" [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 15]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        <!-- End Export -->
    </div>
</div>