<div class="shadow">
  <h2>{{pageTitle | async}}</h2>
  <hr>

  <div class="row" *ngIf="items.length">

    <div *ngFor="let item of items" class="col-md-4">
      <img [src]="thumbnailBasePath + item.productImage" class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title">{{ item.product }}</h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">شناسه محصول : {{item.productId}}</li>
        <li class="list-group-item">قیت پایه : {{item.unitPrice | thousandSeperator }}</li>
        <li class="list-group-item">تعداد : {{item.count}}</li>
        <li class="list-group-item">تخفیف : {{item.discountRate}}</li>
      </ul>

      <div class="card-body">
        <a href="#" class="card-link">جزییات محصول
          <i class="las la-long-arrow-left"></i>
        </a>
      </div>

    </div>

  </div>

  <div class="d-flex">
    <button mat-button color="warn" type="button" (click)="onCloseClick()">بستن</button>
  </div>

</div>
