<div class="shadow">
  <h2>{{pageTitle | async}}</h2>
  <hr>

  <form [formGroup]="editForm" (ngSubmit)="submit()" enctype="multipart/form-data">

    <div class="row">

      <div class="col-md-12">
        <img [src]="imagePath" class="img-fluid" loading="lazy" />
      </div>
      <hr />
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>دسته بندی</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.title}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="checkError('categoryId', 'required')">لطفا دسته بندی محصول را وارد نمایید</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>عنوان</mat-label>
          <input matInput type="text" placeholder="..." formControlName="title">
          <mat-error *ngIf="checkError('title', 'required')">لطفا عنوان را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('title', 'maxlength')">مقدار عنوان نباید بیشتر از 100 کاراکتر باشد</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>توضیحات کوتاه</mat-label>
          <textarea matInput placeholder="..." formControlName="shortDescription"></textarea>
          <mat-error *ngIf="checkError('shortDescription', 'required')"> لطفا توضیحات کوتاه را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('shortDescription', 'maxlength')">مقدار توضیحات کوتاه نباید بیشتر از 250 کاراکتر
            باشد</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">

        <label>توضیحات</label>

        <textarea id="editor"></textarea>

        <p class="text-danger" *ngIf="ckeditorTextValue === undefined || ckeditorTextValue == null">
          لطفا توضیحات را وارد نمایید
        </p>
      </div>


      <div class="col-md-12 mt-3 mb-3">
        <label>فایل تصویر</label>
        <input type="file" class="form-control" (change)="getImageFileToUpload($event)">
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>عنوان تصویر</mat-label>
          <input matInput type="text" placeholder="..." formControlName="imageTitle">
          <mat-error *ngIf="checkError('imageTitle', 'required')">لطفا عنوان تصویر را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('imageTitle', 'maxlength')">مقدار عنوان تصویر نباید بیشتر از 200 کاراکتر باشد
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Alt تصویر</mat-label>
          <textarea matInput placeholder="..." formControlName="imageAlt"></textarea>
          <mat-error *ngIf="checkError('imageAlt', 'required')">لطفا Alt تصویر را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('imageAlt', 'maxlength')">مقدار Alt تصویر نباید بیشتر از 200 کاراکتر باشد
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>توضیحات متا</mat-label>
          <textarea matInput placeholder="..." formControlName="metaDescription"></textarea>
          <mat-error *ngIf="checkError('metaDescription', 'required')">لطفا توضیحات متا را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('metaDescription', 'maxlength')">مقدار توضیحات متا نباید بیشتر از 80 کاراکتر باشد
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>کلمات کلیدی</mat-label>
          <textarea matInput placeholder="..." formControlName="metaKeywords"></textarea>
          <mat-error *ngIf="checkError('metaKeywords', 'required')">لطفا کلمات کلیدی را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('metaKeywords', 'maxlength')">مقدار کلمات کلیدی نباید بیشتر از 100 کاراکتر باشد
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <hr>

    <div class="d-flex">
      <button mat-raised-button color="primary" type="submit">ثبت</button>
      <button mat-button color="warn" type="button" (click)="onCloseClick()">بستن</button>
    </div>

  </form>
</div>
