<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">دسته بندی محصولات</h2>
            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="ti ti-home"></i></a></li>
                    <li class="breadcrumb-item active">دسته بندی محصولات</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->
<div class="row">
    <div class="col-xl-12">
        <!-- Export -->
        <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center justify-content-between">
                <h4 class="float-right">جدول</h4>
                <a href="#" class="btn btn-primary">content</a>
            </div>
            <div class="widget-body">
                <div class="table-responsive">
                    <table id="export-table" class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>عنوان</th>
                                <th>تاریخ ایجاد</th>
                                <th><span style="width:100px;">وضعیت پرداختی</span></th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.Title</td>
                                    <td>@category.CreationDate</td>
                                    <td class="td-actions">
                                        <a href="#"><i class="la la-edit edit"></i></a>
                                        <a href="#"><i class="la la-close delete"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.Title</td>
                                    <td>@category.CreationDate</td>
                                    <td class="td-actions">
                                        <a href="#"><i class="la la-edit edit"></i></a>
                                        <a href="#"><i class="la la-close delete"></i></a>
                                    </td>
                                </tr><tr>
                                    <td>@category.Id</td>
                                    <td>@category.Title</td>
                                    <td>@category.CreationDate</td>
                                    <td class="td-actions">
                                        <a href="#"><i class="la la-edit edit"></i></a>
                                        <a href="#"><i class="la la-close delete"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.Title</td>
                                    <td>@category.CreationDate</td>
                                    <td class="td-actions">
                                        <a href="#"><i class="la la-edit edit"></i></a>
                                        <a href="#"><i class="la la-close delete"></i></a>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Export -->
    </div>
</div>