
<app-breadcrumb [pageTitle]="'مدیریت محصولات'"></app-breadcrumb>

<div class="row">
    <div class="col-xl-12">

        <div class="widget has-shadow">
            <div class="widget-header bordered no-actions" div-center-content-between>

                <div>

                    <mat-form-field appearance="fill" class="mr-4">
                        <mat-label>عنوان/ کد</mat-label>
                        <input type="text" matInput #filterInput />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>شناسه دسته بندی</mat-label>
                        <input type="number" matInput #filterCategoryInput />
                    </mat-form-field>
                </div>

                <div>
                    <button mat-raised-button (click)="openCreateDialog()" color="primary" type="button" class="mat-success">افزودن</button>
                </div>

            </div>
            <div class="widget-body">

                <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                    <mat-spinner></mat-spinner>
                </div>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="thumbnailImage">
                        <th mat-header-cell *matHeaderCellDef> تصویر </th>
                        <td mat-cell *matCellDef="let element"> 
                            <img [src]="thumbnailBasePath + element.imagePath" width="150" height="150">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> عنوان </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="inStockStatus">
                        <th mat-header-cell *matHeaderCellDef> وضعیت موجودی </th>
                        <td mat-cell *matCellDef="let element"> 
                        
                            <p *ngIf="element.isInStock" class="text-success">موجود</p>

                            <p *ngIf="!element.isInStock" class="text-danger">ناموجود</p>
                            
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="creationDate">
                        <th mat-header-cell *matHeaderCellDef> تاریخ </th>
                        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="productsCount">
                      <th mat-header-cell *matHeaderCellDef> محصولات </th>
                      <td mat-cell *matCellDef="let element"> {{element.productsCount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="commands">
                      <th mat-header-cell *matHeaderCellDef> دستورات </th>
                      <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="primary" class="mr-2" (click)="openEditDialog(element.id)">ویرایش</button>
                            <button mat-raised-button color="warn" (click)="deleteProduct(element.id)">حذف</button>
                            
                            <button mat-raised-button color="primary" class="ml-2" 
                                [routerLink]="'/product/gallery/' + element.id">گالری</button>

                            <button mat-raised-button [routerLink]="'/customer-discount/define/' + element.id"
                                color="primary" class="mr-2">تعریف تخفیف</button>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            
                <mat-paginator [length]="dataSource?.length" [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 15]"  showFirstLastButtons></mat-paginator>
            </div>
        </div>
        
    </div>
</div>