<div class="default-sidebar">

    <nav class="side-navbar box-scroll sidebar-scroll">

        <ul class="list-unstyled">
            <li class="active">

                <a href="#dropdown-shop" aria-expanded="true" data-toggle="collapse">
                    <i class="las la-store-alt"></i><span>فروشگاه</span>
                </a>

                <ul id="dropdown-shop" class="collapse list-unstyled show pt-0">
                    <li><a [routerLink]="'/product'" routerLinkActive="active">محصولات</a></li>
                    <li><a [routerLink]="'/product-category'" routerLinkActive="active">دسته بندی محصولات</a></li>
                </ul>
            </li>
            <li>
                <a href="#dropdown-site" aria-expanded="false" data-toggle="collapse">
                    <i class="las la-cog"></i><span>سایت</span></a>
                <ul id="dropdown-site" class="collapse list-unstyled show pt-0">
                    <li><a [routerLink]="'/slider'" routerLinkActive="active">اسلایدر</a></li>
                </ul>
            </li>
            <li>
                <a href="#dropdown-discount" aria-expanded="false" data-toggle="collapse">
                    <i class="las la-wallet"></i><span>تخفیفات</span></a>
                <ul id="dropdown-discount" class="collapse list-unstyled show pt-0">
                    <li><a [routerLink]="'/customer-discount'" routerLinkActive="active">تخفیفات مشتری</a></li>
                </ul>
            </li>

        </ul>

    </nav>

</div>