<div class="default-sidebar">

  <nav class="side-navbar box-scroll sidebar-scroll">

    <ul class="list-unstyled">

      <li [routerLinkActive]="'active'" [routerLinkOptions]="{exact: false}">

        <a href="#dropdown-shop" aria-expanded="false" data-toggle="collapse">
          <i class="las la-store-alt"></i><span>فروشگاه</span>
        </a>

        <ul id="dropdown-shop" class="collapse list-unstyled show pt-0">
          <li><a [routerLink]="'/product'">محصولات</a></li>
          <li><a [routerLink]="'/product-category'">دسته بندی محصولات</a></li>
        </ul>
      </li>

      <li [routerLinkActive]="'active'" [routerLinkOptions]="{exact: false}">

        <a [routerLink]="'/inventory'" aria-expanded="false" data-toggle="collapse">
          <i class="las la-warehouse"></i><span>انبار</span>
        </a>

      </li>

      <li [routerLinkActive]="'active'" [routerLinkOptions]="{exact: false}">

        <a [routerLink]="'/order'" aria-expanded="false" data-toggle="collapse">
          <i class="las la-coins"></i><span>سفارشات</span>
        </a>

      </li>

      <li [routerLinkActive]="'active'" [routerLinkOptions]="{exact: false}">

        <a [routerLink]="'/account'" aria-expanded="false" data-toggle="collapse">
          <i class="las la-user"></i><span>کاربران</span>
        </a>

      </li>

      <li [routerLinkActive]="'active'" [routerLinkOptions]="{exact: false}">

        <a href="#dropdown-shop" aria-expanded="false" data-toggle="collapse">
          <i class="las la-book-alt"></i><span>مقالات</span>
        </a>

        <ul id="dropdown-shop" class="collapse list-unstyled show pt-0">
          <li><a routerLink="/article">مدیریت مقالات</a></li>
          <li><a routerLink="/article-category">دسته بندی مقالات</a></li>
        </ul>
      </li>

      <li [routerLinkActive]="'active'" [routerLinkOptions]="{exact: false}">

        <a routerLink="/comment" aria-expanded="false" data-toggle="collapse">
          <i class="las la-comment"></i><span>نظرات</span>
        </a>

      </li>

      <li [routerLinkActive]="'active'" [routerLinkOptions]="{exact: false}">
        <a href="#dropdown-site" aria-expanded="false" data-toggle="collapse">
          <i class="las la-cog"></i><span>سایت</span>
        </a>

        <ul id="dropdown-site" class="collapse list-unstyled show pt-0">

          <li><a routerLink="/slider">اسلایدر</a></li>
        </ul>

      </li>

      <li [routerLinkActive]="'active'" [routerLinkOptions]="{exact: false}">
        <a href="#dropdown-discount" aria-expanded="false" data-toggle="collapse">
          <i class="las la-wallet"></i><span>تخفیفات</span>

        </a>
        <ul id="dropdown-discount" class="collapse list-unstyled show pt-0">

          <li><a routerLink="/product-discount">تخفیفات محصولات</a></li>
          <li><a routerLink="/discount-code">کد های تخفیف</a></li>

        </ul>

      </li>

    </ul>

  </nav>

</div>
