<!-- Begin Page Header-->
<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title text-gradient-01">داشبورد</h2>
            <div>
                <div class="page-header-tools">
                    <a class="btn btn-outline-primary" href="#">افزودن ابزارک</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->
<div class="row flex-row">
    <div class="col-xl-4">
        <!-- Begin Widget 36 -->
        <div class="widget-36 widget has-shadow">
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-12 text-center mt-5 mb-5">
                        <div class="nb-visitors">
                            کاربرن جدید
                        </div>
                        <div class="visitors-nb text-gradient-02">
                            2,861
                        </div>
                    </div>
                    <div class="col-xl-6 text-center mt-5">
                        <p class="text-dark">ثبت نام</p>
                        <div class="mt-2">
                            <label>
                                <input class="toggle-checkbox" type="checkbox" checked>
                                <span>
                                    <span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xl-6 text-center mt-5">
                        <p class="text-dark">تعمیر و نگهداری</p>
                        <div class="mt-2">
                            <label>
                                <input class="toggle-checkbox" type="checkbox">
                                <span>
                                    <span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 36 -->
    </div>
    <div class="col-xl-4 col-md-6">
        <!-- Begin Widget 34 -->
        <div class="widget widget-34 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header d-flex align-items-center">
                <h2>امتیازات کلی</h2>
                <div class="widget-options">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                            <i class="la la-circle-o-notch"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                <i class="la la-edit"></i>ویرایش ابزارک
                            </a>
                            <a href="#" class="dropdown-item faq">
                                <i class="la la-question-circle"></i>پرسش و پاسخ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body hidden">
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <div class="r-title">
                            3.0
                        </div>
                        <div class="star-rating">
                            <ul>
                                <li><i class="la la-star rate"></i></li>
                                <li><i class="la la-star rate"></i></li>
                                <li><i class="la la-star rate"></i></li>
                                <li><i class="la la-star rate"></i></li>
                                <li><i class="la la-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="chart">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <!-- Begin Chart -->
                            <div class="chart-graph">
                                <div class="chart">
                                    <canvas id="reviews-stats"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 34 -->
    </div>
    <div class="col-xl-4 col-md-6">
        <!-- Begin Widget 35 -->
        <div class="widget-35 widget has-shadow">
            <div class="widget-body h-100">
                <div class="row align-items-center">
                    <div class="col-xl-6 d-flex align-items-center">
                        <div class="user-avatar">
                            <img src="/assets/assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle">
                        </div>
                        <div class="user-n">
                            <div class="m-name">محمد نوری</div>
                            <div class="account-name">speid</div>
                        </div>
                    </div>
                    <div class="col-xl-6 d-flex justify-content-end">
                        <i class="ion-social-facebook"></i>
                    </div>
                </div>
                <div class="w-text">
                    <div class="widget35 owl-carousel">
                        <div class="item">
                            <p> سلام، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                                هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته...<a href="#">https://www.sepidhonar.com</a></p>
                        </div>
                        <div class="item">
                            <p> سلام، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                                هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته...</p>
                        </div>
                        <div class="item">
                            <p> سلام، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                                هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته... <a href="#">https://www.sepidhonar.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 35 -->
    </div>
</div>
<!-- End Row -->
<!-- Begin Row -->
<div class="row flex-row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="widget widget-25 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header no-actions d-flex align-items-center">
                <h2>آب و هوا</h2>
            </div>
            <!-- End Widget Header -->
            <div class="widget-body">
                <div class="row m-0 align-items-center">
                    <div class="col-xl-12 text-center">
                        <div class="current-weather">
                            <div class="weather-report">امروز</div>
                            <div class="temperature">26°</div>
                            <i class="meteocons-rainy2"></i>
                            <div class="condition mt-2 mb-5">آفتابی</div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-4 text-center">
                        <div class="weather-next-day">
                            <div class="day">شنبه</div>
                            <i class="meteocons-sun"></i>
                            <div class="temp mt-2">30°</div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-4 text-center">
                        <div class="weather-next-day">
                            <div class="day">دوشنبه</div>
                            <i class="meteocons-cloudy"></i>
                            <div class="temp mt-2">24°</div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-4 text-center">
                        <div class="weather-next-day">
                            <div class="day">سه شنبه</div>
                            <i class="meteocons-windy2"></i>
                            <div class="temp mt-2">27°</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <!-- Begin Widget 11 -->
        <div class="widget-39 widget d-flex align-items-center justify-content-center bg-dark has-shadow">
            <div class="widget-effect"><i class="ti ti-unlock"></i></div>
            <!-- Begin Widget Body -->
            <div class="widget-body text-center">
                <i class="ti ti-crown mb-3 text-gradient-01"></i>
                <div class="congrats-name mb-2">تبریک میگم!</div>
                <p>شما یک جایزه دریافت کردید.</p>
                <a class="btn btn-gradient-01 mt-3" href="#">پک فونت آیکون</a>
            </div>
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 11 -->
    </div>
    <div class="col-xl-5">
        <!-- Leaflet -->
        <div class="widget widget-38 has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
                <h4>مکان مشتریان</h4>
            </div>
            <div class="widget-body p-0">
                <div id="layer-control" style="height: 385px;"></div>
            </div>
        </div>
        <!-- End Leaflet -->
    </div>
</div>
<!-- End Row -->
<!-- Begin Row -->
<div class="row flex-row">
    <div class="col-xl-6 col-md-6">
        <!-- Begin Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header d-flex align-items-center">
                <h2>سفارشات تحویل داده شده</h2>
                <div class="widget-options">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                            <i class="la la-circle-o-notch"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                <i class="la la-history"></i>تاریخچه
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="la la-bell-slash"></i>غیرفعالسازی هشدارها
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="la la-edit"></i>ویرایش ابزارک
                            </a>
                            <a href="#" class="dropdown-item faq">
                                <i class="la la-question-circle"></i>پرسش و پاسخ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-12 col-12 d-flex flex-column my-auto no-padding text-center">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="some-stats mb-4">
                                    <div class="title">مجموع تحویل شده ها</div>
                                    <div class="number text-secondary">856</div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="some-stats mb-4">
                                    <div class="title">مجموع تخمین زده شده</div>
                                    <div class="number text-secondary">297</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-12 p-0">
                        <div>
                            <canvas id="orders"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 09 -->
    </div>
    <div class="col-xl-6 col-md-6 col-sm-6">
        <!-- Begin Widget 02 -->
        <div class="widget widget-02 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header d-flex align-items-center">
                <h2>گراف فعالیت ها</h2>
                <div class="widget-options">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                            <i class="la la-circle-o-notch"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                <i class="la la-history"></i>تاریخچه
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="la la-bell-slash"></i>غیرفعالسازی هشدارها
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="la la-edit"></i>ویرایش ابزارک
                            </a>
                            <a href="#" class="dropdown-item faq">
                                <i class="la la-question-circle"></i>پرسش و پاسخ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body no-padding">
                <!-- Begin Item -->
                <div class="text-center">
                    <div class="more-charts">
                        <a class="btn btn-shadow" href="components-charts.html">انواع نمودار</a>
                    </div>
                </div>
                <!-- End Item -->
            </div>
            <!-- End Widget Body -->
            <div class="chart">
                <canvas id="sale-chart"></canvas>
            </div>
        </div>
        <!-- End Widget 02 -->
    </div>
</div>