<div class="shadow">
  <h2>{{pageTitle | async}}</h2>
  <hr>

  <table class="table table-bordered" dir="rtl">

    <thead>
      <tr>

        <th>#</th>
        <th>تعداد</th>
        <th>تاریخ</th>
        <th>عملیات</th>
        <th>موجودی فعلی</th>
        <th>اپراتور</th>
        <th>توضیحات</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let log of operations.operations" 
        [ngClass]="log.operationType === true ? 'bg-success' : 'bg-danger'">

        <td>{{log.id}}</td>
        <td>{{log.count}}</td>
        <td>{{log.operationDate}}</td>

        <td *ngIf="log.operationType">افزایش</td>
        <td *ngIf="!log.operationType">کاهش</td>

        <td>{{log.currentCount}}</td>
        <td>{{log.operator}}</td>
        <td>{{log.description}}</td>

      </tr>

    </tbody>

  </table>
  <hr>
  
  <div class="d-flex">
    <button mat-button color="warn" type="button" (click)="onCloseClick()">بستن</button>
  </div>

</div>
