<div class="widget widget-09 has-shadow">

    <div class="widget-header" div-center>
        <h2>محصولات فروخته شده</h2>
    </div>

    <div class="widget-body">
        <div class="row">
            <div class="col-xl-12 col-12 p-0">
                <div class="chartjs-container" *ngIf="isLoaded">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [colors]="barChartColors"
                        [options]="barChartOptions"
                        [legend]="true"
                        [chartType]="'bar'">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
