<div class="shadow">
  <h2>ایجاد اسلایدر</h2>
  <hr>
  
  <form [formGroup]="createForm" (ngSubmit)="submitCreateForm()" enctype="multipart/form-data">
  
    <div class="row">
  
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>عنوان</mat-label>
          <input matInput type="text" placeholder="..." formControlName="heading">
        </mat-form-field>
  
        <p class="text-danger"
              *ngIf="createForm.controls.heading.errors?.required && createForm.controls.heading.touched">
            لطفا عنوان را وارد نمایید
        </p>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>متن</mat-label>
          <input matInput type="text" placeholder="..." formControlName="text">
        </mat-form-field>
  
        <p class="text-danger"
              *ngIf="createForm.controls.text.errors?.required && createForm.controls.text.touched">
            لطفا متن را وارد نمایید
        </p>
      </div>
  
      <div class="col-md-12 mt-3 mb-3">
          <label>فایل تصویر</label>
          <input type="file" class="form-control" (change)="getImageFileToUpload($event)">
  
        <p class="text-danger"
              *ngIf="!fileUploaded">
            لطفافایل تصویر را آپلود نمایید
        </p>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>عنوان تصویر</mat-label>
          <input matInput type="text" placeholder="..." formControlName="imageTitle">
        </mat-form-field>
  
        <p class="text-danger"
              *ngIf="createForm.controls.imageTitle.errors?.required && createForm.controls.imageTitle.touched">
            لطفاعنوان تصویر را وارد نمایید
        </p>
      </div>
  
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Alt تصویر</mat-label>
          <textarea matInput placeholder="..." formControlName="imageAlt" ></textarea>
        </mat-form-field>
  
        <p class="text-danger"
              *ngIf="createForm.controls.imageAlt.errors?.required && createForm.controls.imageAlt.touched">
            لطفا Alt تصویر را وارد نمایید
        </p>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>لینک</mat-label>
          <textarea matInput placeholder="..." formControlName="btnLink" ></textarea>
        </mat-form-field>
  
        <p class="text-danger"
              *ngIf="createForm.controls.btnLink.errors?.required && createForm.controls.btnLink.touched">
            لطفا لینک را وارد نمایید
        </p>
      </div>
      
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>متن لینک</mat-label>
          <textarea matInput placeholder="..." formControlName="btnText" ></textarea>
        </mat-form-field>
  
        <p class="text-danger"
              *ngIf="createForm.controls.btnText.errors?.required && createForm.controls.btnText.touched">
            لطفا متن لینک را وارد نمایید
        </p>
      </div>
    </div>
  
    <hr>
  
      <div class="d-flex">
        <button mat-raised-button color="primary" type="submit">ثبت</button>
        <button mat-button color="warn" type="button" (click)="onCloseClick()">بستن</button>
      </div>

  </form>
</div>
