<div class="shadow">
  <h2>ایجاد اسلایدر</h2>
  <hr>
  
  <form [formGroup]="createForm" (ngSubmit)="submitCreateForm()" enctype="multipart/form-data">
  
    <div class="row">
  
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>عنوان</mat-label>
          <input matInput type="text" placeholder="..." formControlName="heading">
          <mat-error *ngIf="checkError('heading', 'required')">لطفا عنوان را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('heading', 'maxlength')">مقدار عنوان نباید بیشتر از 100 کاراکتر باشد</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>متن</mat-label>
          <input matInput type="text" placeholder="..." formControlName="text">
          <mat-error *ngIf="checkError('text', 'required')">لطفا متن را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('text', 'maxlength')">مقدار متن نباید بیشتر از 250 کاراکتر باشد</mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-md-12 mt-3 mb-3">
          <label>فایل تصویر</label>
          <input type="file" class="form-control" (change)="getImageFileToUpload($event)">
  
        <p class="text-danger"
              *ngIf="!fileUploaded">
            لطفافایل تصویر را آپلود نمایید
        </p>
      </div>

     
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>عنوان تصویر</mat-label>
          <input matInput type="text" placeholder="..." formControlName="imageTitle">
          <mat-error *ngIf="checkError('imageTitle', 'required')">لطفا عنوان تصویر را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('imageTitle', 'maxlength')">مقدار عنوان تصویر نباید بیشتر از 200 کاراکتر باشد
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Alt تصویر</mat-label>
          <textarea matInput placeholder="..." formControlName="imageAlt"></textarea>
          <mat-error *ngIf="checkError('imageAlt', 'required')">لطفا Alt تصویر را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('imageAlt', 'maxlength')">مقدار Alt تصویر نباید بیشتر از 200 کاراکتر باشد
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>لینک</mat-label>
          <textarea matInput placeholder="..." formControlName="btnLink" ></textarea>
          <mat-error *ngIf="checkError('btnLink', 'required')">لطفا لینک را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('btnLink', 'maxlength')">مقدار لینک نباید بیشتر از 100 کاراکتر باشد</mat-error>
        </mat-form-field>
      </div>
      
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>متن لینک</mat-label>
          <textarea matInput placeholder="..." formControlName="btnText" ></textarea>
          <mat-error *ngIf="checkError('btnText', 'required')">لطفا متن لینک را وارد نمایید</mat-error>
          <mat-error *ngIf="checkError('btnText', 'maxlength')">مقدار متن لینک نباید بیشتر از 50 کاراکتر باشد</mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <hr>
  
      <div class="d-flex">
        <button mat-raised-button color="primary" type="submit">ثبت</button>
        <button mat-button color="warn" type="button" (click)="onCloseClick()">بستن</button>
      </div>

  </form>
</div>
