<div role="tabpanel" class="tab-pane show active" id="singin" aria-labelledby="singin-tab">
    <h3>به سـین بورد خوش آمدید</h3>
    <form>
        <div class="group material-input">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>ایمیل</label>
        </div>
        <div class="group material-input">
            <input type="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>پسورد</label>
        </div>
    </form>
    <div class="row">
        <div class="col text-left">
            <div class="styled-checkbox">
                <input type="checkbox" name="checkbox" id="remeber">
                <label for="remeber">مرا به خاطر بسپار</label>
            </div>
        </div>
        <div class="col text-right">
            <a href="pages-forgot-password.html">فراموشی رمز عبور</a>
        </div>
    </div>
    <div class="sign-btn text-center">
        <a href="db-default.html" class="btn btn-lg btn-gradient-01">
            ثبت نام
        </a>
    </div>
</div>