<app-loading></app-loading>

<body class="bg-white">

    <div class="container-fluid no-padding h-100">
        <div class="row flex-row h-100 bg-white">
            <!-- Begin Left Content -->
            <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12 col-12 no-padding">
                <div class="seenbord-bg background-03">
                    <div class="bg-overlay overlay-08"></div>
                    <div class="authentication-col-content-2 mx-auto text-center">
                        <div class="logo-centered">
                            <a routerLink="/">
                                <img src="/assets/img/logo.png" alt="logo">
                            </a>
                        </div>
                        <h1>ورود به حساب</h1>
                        <span class="description">
                            پنل مدیریتی سین بورد کامل و زیبا برای پیاده سازی ایده هایتان می توانید بهترین گزینه ها را
                            ببنید و انتخاب کنید.
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-7 col-md-7 col-sm-12 col-12 my-auto no-padding">
                <div class="authentication-form-2 mx-auto">
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane show active" id="singin" aria-labelledby="singin-tab">
                            <h3>به سـین بورد خوش آمدید</h3>
                            <form [formGroup]="loginForm" (ngSubmit)="submitForm()" enctype="multipart/form-data">
                                <div class="group material-input">
                                    <input type="email" formControlName="email" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>ایمیل</label>
                                </div>
                                <p class="text-danger" *ngIf="checkError('email', 'required') || checkError('email', 'email')">لطفا ایمیل معتبر وارد نمایید</p>

                                <div class="group material-input">
                                    <input type="password" formControlName="password" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>پسورد</label>
                                </div>
                                <p class="text-danger" *ngIf="checkError('password', 'required')">لطفا رمز عبور را وارد نمایید</p>

                                <br />

                                <div class="sign-btn text-center">
                                    <button type="submit" class="btn btn-lg btn-gradient-01">
                                        ورود
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
