@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.row {
    direction: rtl !important;
}

table {
    width: 100%;
}

th, td,
.th.mat-header-cell,
.mat-input-element,
.mat-form-field-label,
.mat-option-text, .mat-select-value  {
    text-align: right !important;
}


th, td, 
.mat-form-field-label,
.mat-button-base,
.mat-option-text, .mat-select-value {
    font-family: 'IRANSans' !important;
}

th, td {
    padding-right: 25px !important;
    padding-left: 25px !important;
}

th {
    font-size: 1.2em !important;
}

td {
    font-size: 1em !important;
}

.widget-header {
    padding-bottom: 0 !important;
}

.mat-form-field-infix {
    padding-top: 0 !important;
}

.mat-input-element {
    font-size: 1.2em !important;
}
.form-full-width {
    min-width: 150px;
    max-width: 650px;
    width: 100%;
}

.spinner-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.mat-paginator {
    display: flex;
    align-items: center;
    justify-content: left;
}

.mat-paginator-container {
    justify-content: flex-start !important;
}

.mat-paginator-outer-container { direction: ltr !important}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
    background-color: #ffb840 !important;
    color: #000 !important;
}

.mat-success {
    background-color: #24a711 !important;
}

.mat-option-text, .mat-select-value {
    direction: rtl !important;
}

.mat-input-element {
    color: #525354 !important;
}