@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.row {
    direction: rtl !important;
}

table {
    width: 100%;
}

th, td {
    text-align: right !important;
    font-family: 'IRANSans' !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
}

th {
    font-size: 1.2em !important;
}

td {
    font-size: 1em !important;
}

.widget-header {
    padding-bottom: 0 !important;
} 

.th.mat-header-cell {
    text-align: right !important;
}

.mat-form-field-infix {
    padding-top: 0 !important;
}

.mat-input-element {
    text-align: right !important;
    font-size: 1.2em !important;
}
.form-full-width {
    min-width: 150px;
    max-width: 650px;
    width: 100%;
}
  
  
.spinner-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.mat-paginator {
    display: flex;
    align-items: center;
    justify-content: left;
}

.mat-paginator-container {
    justify-content: flex-start !important;
}

.mat-paginator-outer-container { direction: ltr !important}

.mat-form-field-label {
    font-family: 'IRANSans' !important;
    text-align: right;
}

.mat-button-base {
    font-family: 'IRANSans' !important;
}