
<app-breadcrumb [pageTitle]="'گالری تصاویر محصول' + productTitle"></app-breadcrumb>

<div class="row">
    <div class="col-xl-12">

        <div class="widget has-shadow">
            <div class="widget-body">

                <div class="spinner-container" *ngIf="pageLoading !== true">
                    <mat-spinner></mat-spinner>
                </div>

                <div class="row">
                    <div class="col-md-4">

                      <div class="shadow">
                        <h2>ایجاد گالری محصول</h2>
                        <hr>
                        
                        <form (ngSubmit)="submitCreateForm()" enctype="multipart/form-data" >
                        
                          <div class="row">

                            <div class="col-md-12 mt-3 mb-3">
                                <label>فایل تصویر</label>
                                <input type="file" class="form-control" (change)="getImageFileToUpload($event)">

                                <p class="text-danger"
                                    *ngIf="!fileUploaded">
                                  لطفا تصویر را وارد نمایید
                                </p>
                            </div>

                            <hr>
  
                            <div class="d-flex">
                              <button mat-raised-button color="primary" type="submit">ثبت</button>
                              <button mat-raised-button color="warn" type="reset" id="resetBtn">پاک کردن</button>
                            </div>

                          </div>
                      
                        </form>
                      </div>
                    </div>
                    <div
                      class="col-md-8 row pb-4"
                      *ngIf="pageLoading"
                    >
                      <div *ngFor="let pic of productPictures" class="col-md-4 container-gallery mb-2">
                        <img
                          [src]="productPictureBasePath + pic.imagePath"
                          class="img-fluid img-gallery mx-auto"
                          width="200"
                          height="150"
                        />

                        <div class="overlay">
                          <a cursor-pointer (click)="removeProductPicture(pic.id)">حذف</a>
                        </div>
                      </div>
                    </div>
                  </div>
            
                
            </div>
        </div>

    </div>
</div>