
<app-breadcrumb [pageTitle]="'گالری تصاویر محصول' + productTitle"></app-breadcrumb>

<div class="row">
    <div class="col-xl-12">

        <div class="widget has-shadow">
            <div class="widget-body">

                <div class="spinner-container" *ngIf="pageLoading !== true">
                    <mat-spinner></mat-spinner>
                </div>

                <div class="row">
                    <div class="col-md-4">

                      <div class="shadow">
                        <h2>ایجاد گالری محصول</h2>
                        <hr>
                        
                        <div class="w-100">
                          <ngx-dropzone (change)="onUploadFiles($event)">  
                            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>  
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">  
                              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>  
                            </ngx-dropzone-preview>  
                          </ngx-dropzone>  
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-md-8 row pb-4"
                      *ngIf="pageLoading"
                    >
                      <div *ngFor="let pic of productPictures" class="col-md-4 container-gallery mb-2">
                        <img
                          [src]="productPictureBasePath + pic.imagePath"
                          class="img-fluid img-gallery mx-auto"
                          width="200"
                          height="150"
                        />

                        <div class="overlay">
                          <a cursor-pointer (click)="removeProductPicture(pic.id)">حذف</a>
                        </div>
                      </div>
                    </div>
                  </div>
            
                
            </div>
        </div>

    </div>
</div>