<body class="bg-fixed-04">
  <div class="container-fluid h-100 overflow-y">
    <div class="row flex-row h-100">
      <div class="col-12 my-auto">
        <div class="coming-soon mx-auto">
          <div class="logo-centered">
            <a routerLink="/">
              <img src="/assets/img/logo.png" alt="logo" loading="lazy" />
            </a>
          </div>
          <h1>شما به این صفحه دسترسی ندارید !</h1>
          <div class="button text-center">
            <a routerLink="/auth/login" class="text-white btn btn-lg btn-gradient-01 mr-2">ورود به حساب</a>
            <a (click)="goBack()" class="text-white btn btn-lg btn-gradient-01">بازگشت</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
